img {
    margin-top: -136px;
}

hr {
    margin-top: 136px;
}

.center {
    text-align: center;
}

.location,
.email,
.phone,
.twitter,
.facebook {
    display: block;
}

.title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*color: #cccddd;
    font-family: -webkit-pictograph;*/
    color: #0085ff;
    font-size: 2em;
}

.education,
.skill {
    padding-top: 20px;
}