.menu-wrapper {
    display: table;
    margin: 20px auto 0 auto;
}

.menu li a {
    text-decoration: none;
    color: #636c72;
}

.menu li {
    display: inline-block;
    position: inherit;
    list-style: none;
    background-color: #cccccc;
    text-align: center;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 5px;
    width: 150px;
}

.menu li:hover {
    background-color: #9c9c9c;
    transition: .5s ease-in-out;
}