<div class="education">
    <div class="sub-title">
        <i class="fa fa-university"></i> Pune University
    </div>
    <div class="studyType ">
        <i class="fa fa-graduation-cap"></i> Bachelo
    </div>
    <div class="duration"> 2011 2015 </div>
    <div class="faculty">
        Computer Science
    </div>
    <div class="courses">
        <i class="fa fa-rocket"></i> Courses
        <ul class="list-group">
            <li class="list-group-item">DB1101 - Basic SQL</li>
            <li class="list-group-item">DB1102 - Basic MySQL</li>
            <li class="list-group-item">DB1101 - Basic MongoDB</li>
            <li class="list-group-item">cas1101 - Introduction to c</li>
        </ul>
    </div>
</div>
<br>
<div class="education">
    <div class="duration"> 1998 2010 </div>
    <div class="sub-title">
        <i class="fa fa-university"></i> Chaprasak High School
    </div>
    <div class="studyType ">
        <i class="fa fa-graduation-cap"></i> School
    </div>
    <div class="faculty">
        School
    </div>
</div>