<div class="wrapper">
    <app-sidebar></app-sidebar>
    <section class="content">
        <div class="well">
            <button type="button" class="side-toggle">
                <span class="toggle-top"></span>
                <span class="toggle-middle"></span>
                <span class="toggle-bottom"></span>
            </button>
            <hr />
            <div class="page-header">
                <h1>Nimatullah Razmjo</h1>
            </div>
            <router-outlet></router-outlet>
        </div>
    </section>
</div>