<div class="wrapper">
    <aside class="left-menu">
        <div class="logo">
            Company logo
        </div>
        <nav>
            <ul class="nav sidebar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">CV</a></li>
            </ul>
        </nav>
    </aside>
    <section class="content">
        <div class="well">
            <button type="button" class="side-toggle">
                <span class="toggle-top"></span>
                <span class="toggle-middle"></span>
                <span class="toggle-bottom"></span>
            </button>
            <hr />
            <div class="page-header">
                <h1>Nimatullah Razmjo</h1>
            </div>
        </div>
    </section>
</div>