.wrapper {
    padding-left: 10px;
    padding-right: 2px;
    margin-left: 5px;
}

.side-toggle {
    margin-top: 10px;
    margin-left: 10px;
    width: 32px;
    height: 32px;
    transition: all .2s ease-in;
    border: none;
    background: transparent;
    position: sticky;
    display: block;
}

.side-toggle:hover {
    outline: none;
}

.side-toggle:focus {
    outline: none;
}

.side-toggle:active {
    outline: none;
}

.toggle-top,
.toggle-middle,
.toggle-bottom {
    height: 4px;
    width: 100%;
    position: absolute;
    background-color: #ccc;
}

.toggle-top {
    top: 4px;
}

.toggle-middle {
    margin-top: -2px;
}

.toggle-bottom {
    bottom: 5px;
}

.toggle-top:hover {
    top: 2px;
}

.content {
    margin-left: 165px;
    position: relative;
    right: 0;
    transition: all .2s ease-in;
}