<div class="col-md-12">
    <div class="card">
        <div class="card-block">
            <h4 class="card-title text-muted">What exactly is web programming ?</h4>
            <p class="card-text">
                Web programming is about collecting information and havinfun all round with your friends. this is th thenik which all gone through your project ...<a href="#" class="card-link">Read More</a>
            </p>
            <span class="float-right"><i class="text-muted">Published on: </i>June 17, 2017</span>
        </div>
        <div class="card-block">
            <h4 class="card-title text-muted">What can a beginner programmer build in 5 hours?</h4>
            <p class="card-text">
                I’m gonna be very short and simple. I’m not going to provide you with a boatload of stats indicating why CR7 is the “best” out of the 3 you mentioned. I will start with this, all 3 play or are know...<a href="#" class="card-link">Read More</a>
            </p>
            <span class="float-right"><i class="text-muted">Published on: </i>June 17, 2017</span>
        </div>
        <div class="card-block">
            <h4 class="card-title text-muted">Which developers are expensive to hire? Ruby on Rails, Php or Python? Why?</h4>
            <p class="card-text">
                I will be honest here. I am not too sure about Ruby or PHP. Some of the other contributors have already covered this but in terms of Python, I’ve recently helped put together a short analysis for b...<a href="#" class="card-link">Read More</a>
            </p>
            <span class="float-right"><i class="text-muted">Published on: </i>June 17, 2017</span>
        </div>
    </div>
</div>