<div class="row">
    <div class="card">
        <div class="card-header">
            <div class="company-name float-left"> Netlinks</div>
            <div class="work-date float-right">
                anuary 2011 - January 2013 <span class="duration">(6 months)</span>
            </div>
        </div>
        <i class="responsibality">Responsibality:</i>
        <ul>
            <li>Design database from concept upto completion.</li>
            <li>Customise the existing system az per customer requirement</li>
            <li>Complete Task before deadline, and spand most of the time with testing and concentrate more on acuricy</li>
        </ul>
    </div>


    <div class="card">
        <div class="card-header">
            <div class="company-name float-left"> ADRAS</div>
            <div class="work-date float-right">
                anuary 2011 - January 2013 <span class="duration">(6 months)</span>
            </div>
        </div>
        <i class="responsibality">Responsibality:</i>
        <ul>
            <li>Design database from concept upto completion.</li>
            <li>Customise the existing system az per customer requirement</li>
            <li>Complete Task before deadline, and spand most of the time with testing and concentrate more on acuricy</li>
        </ul>
    </div>

</div>