<div class="row">
    <div class="company-name col-md-2"> Netlinks</div>
    <div class="work-date col-md-10 float-right">
        January 10, 2011 - Present
    </div>
    <div class="card">
        <div class="card-header">Responsibality</div>

        <ul>
            <li>Design database from concept upto completion.</li>
            <li>Customise the existing system az per customer requirement</li>
            <li>Complete Task before deadline, and spand most of the time with testing and concentrate more on acuricy</li>
        </ul>
    </div>
    <div class="company-name col-md-2"> Netlinks</div>
    <div class="work-date col-md-10 float-right">
        January 10, 2011 - Present
    </div>
    <div class="card">
        <div class="card-header">Responsibality</div>

        <ul>
            <li>Design database from concept upto completion.</li>
            <li>Customise the existing system az per customer requirement</li>
            <li>Complete Task before deadline, and spand most of the time with testing and concentrate more on acuricy</li>
        </ul>
    </div>
    <div class="company-name col-md-2"> Netlinks</div>
    <div class="work-date col-md-10 float-right">
        January 10, 2011 - Present
    </div>
    <div class="card">
        <div class="card-header">Responsibality</div>

        <ul>
            <li>Design database from concept upto completion.</li>
            <li>Customise the existing system az per customer requirement</li>
            <li>Complete Task before deadline, and spand most of the time with testing and concentrate more on acuricy</li>
        </ul>
    </div>

</div>