.card-block {
    border-bottom: 1px solid #ccc;
    border-radius: 2px;
}

.card-block:hover {
    color: #1a2326;
    text-decoration: none;
    border-color: #2b85e7;
    border-radius: 4px;
    box-shadow: 0 8px 8px rgba(1, 67, 163, .24), 0 0 8px rgba(1, 67, 163, .12), 0 6px 18px rgba(43, 133, 231, .12);
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}