.language {
    padding: 4px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.language .level {
    background-color: rgba(25, 25, 29, 0.55);
    float: right;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    font-size: 1em;
    color: #ffffff;
}