<span class="name">
    Web Developement
</span>
<div class="level">Master</div>
<div class="keywords">
    <span class="keyword">PHP</span>
    <span class="keyword">NodeJS</span>
    <span class="keyword">Angular</span>
</div>
<span class="name">
    Web Developement
</span>
<div class="level">Master</div>
<div class="keywords">
    <span class="keyword">PHP</span>
    <span class="keyword">NodeJS</span>
    <span class="keyword">Angular</span>
    <span class="keyword">PHP</span>
    <span class="keyword">NodeJS</span>
    <span class="keyword">Angular</span>
    <span class="keyword">PHP</span>
    <span class="keyword">NodeJS</span>
    <span class="keyword">Angular</span>
</div>