<div class="row">
    <div class="login">
        <form [formGroup]="Forms" class="form-horizontal" (submit)="saveForm()">
            <div class="form-group">
                <label for="email" class="form-control-label"> Email: </label>
                <input type="text" class="form-control" formControlName="email">
            </div>
            <div class="form-group">
                <label for="password" class="form-control-label"> Password: </label>
                <input type="password" class="form-control" formControlName="password">
            </div>
            <input type="submit" class="btn btn-default btn-success pull-right" value="Login">
        </form>
    </div>
</div>